@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --primaryColor: #3F51B5;
}

html, body {
 min-block-size: 100%;
 margin: 0;
 padding: 0;
 display: grid;
 place-items: center;
 place-content: center;
 
 @media (prefers-color-scheme: dark) {
  background: #212121;
  color: #fff;
 }
}